<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RealNameAuth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2356DA8B1D0E554700A4A384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2356DAA41D0E554700A4A384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2356DAAF1D0E554700A4A384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
